In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('G:/SEM 5/mini-project/code new/clustering/cluster.csv', header=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AM_SE         327 non-null    int64
 1   AM_IA         327 non-null    int64
 2   DLDA_SE       327 non-null    int64
 3   DLDA_IA       327 non-null    int64
 4   DSGT_SE       327 non-null    int64
 5   DSGT_IA       327 non-null    int64
 6   ECCF_SE       327 non-null    int64
 7   ECCF_IA       327 non-null    int64
 8   DS_SE         327 non-null    int64
 9   DS_IA         327 non-null    int64
 10  DigitalSL_TW  327 non-null    int64
 11  DSL_OP        327 non-null    int64
 12  BE_TW         327 non-null    int64
 13  BE_OP         327 non-null    int64
 14  DataSL_TW     327 non-null    int64
 15  DSL_OP.1      327 non-null    int64
 16  OOPM_TW       327 non-null    int64
 17  OOPM_OP       327 non-null    int64
 18  AM4_SE        327 non-null    int64
 19  AM4_IA        327 non-null    int64
 20  AOA_SE        327 non-null    int64
 21  AOA_IA        327 non-null    int64
 22  COA_SE        327 non-null    int64
 23  COA_IA        327 non-null    int64
 24  CG_SE         327 non-null    int64
 25  CG_IA         327 non-null    int64
 26  OS_SE         327 non-null    int64
 27  OS_IA         327 non-null    int64
 28  AOA_TW        327 non-null    int64
 29  AOA_OP        327 non-null    int64
 30  CG_TW         327 non-null    int64
 31  CG_OP         327 non-null    int64
 32  PAL_TW        327 non-null    int64
 33  PAL_OP        327 non-null    int64
 34  OS_TW         327 non-null    int64
 35  OS_OP         327 non-null    int64
 36  OPST_TW       327 non-null    int64
 37  OPST_OP       327 non-null    int64
 38  GPA           327 non-null    float64
 39  GPA_SEM_4     327 non-null    float64
 40  cluster       327 non-null    int64
dtypes: float64(2), int64(39)
memory usage: 104.9 KB

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
y = df['cluster'].values
y
X = df.values
X = np.delete(X,40,axis=1)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state=0)

In [18]:
X_test
X_test1 = pd.DataFrame(X_test)

abc = X_test1
abc.to_csv("X_test.csv")

In [8]:
X_test1.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,32.0,11.0,64.0,11.0,57.0,19.0,32.0,12.0,46.0,19.0,...,20.0,20.0,22.0,22.0,21.0,20.0,15.0,21.0,7.15,7.22
1,44.0,17.0,57.0,14.0,69.0,20.0,61.0,18.0,48.0,18.0,...,21.0,20.0,18.0,20.0,22.0,21.0,15.0,20.0,9.08,9.22
2,68.0,18.0,73.0,16.0,51.0,20.0,68.0,17.0,62.0,17.0,...,20.0,19.0,21.0,20.0,24.0,24.0,19.0,21.0,9.54,9.96
3,73.0,20.0,67.0,11.0,72.0,15.0,69.0,15.0,58.0,16.0,...,21.0,19.0,23.0,23.0,24.0,22.0,21.0,21.0,9.54,9.85
4,58.0,16.0,66.0,15.0,72.0,16.0,53.0,15.0,49.0,18.0,...,22.0,23.0,23.0,22.0,24.0,23.0,19.0,21.0,8.69,10.00

In [9]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [10]:
y_pred = classifier.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [12]:
cm

array([[22,  0,  3,  1,  0,  0],
       [ 0, 10,  0,  0,  2,  3],
       [ 3,  0, 14,  0,  0,  1],
       [ 1,  0,  0, 14,  0,  0],
       [ 0,  3,  0,  0,  9,  0],
       [ 2,  3,  0,  0,  0, 17]], dtype=int64)

In [13]:
classifier.score(X_test, y_test)

0.7962962962962963

In [14]:
import pickle

In [15]:
pickle.dump(classifier, open('NBmodel.pkl','wb'))

In [16]:
NBmodel = pickle.load(open('NBmodel.pkl','rb'))